.hot_selling{
    width:1360px;
    overflow:hidden;
    margin:69px auto 0;
}
.hot_selling .big_title_con{
    overflow:hidden;
}
.hot_selling .big_title_con .left{
    width:510px;
    float:left;
}
.hot_selling .big_title_con .search_more_btn{
    width:152px;
    height:40px;
    line-height:40px;
    text-align:center;
    border:1px solid #C6A189;
    display:block;
    color:#C6A189;
    border-radius:40px;
    margin-top:60px ;
    float:right;
}
.hot_selling .big_title_con .search_more_btn:hover{
    color:#fff;
    background:#C6A189;
    cursor:pointer;
    border-color:#C6A189;
    transition:all 1s;
}
.hot_selling .big_title_con .small_title{
    height:28px;
    line-height:28px;
    font-size:24px;
    overflow:hidden;
}
.hot_selling .big_title_con .big_title{
    font-size:48px;
    height:55px;
    line-height:55px;
    color:#C6A189;
    overflow:hidden;
}
.hot_selling .big_title_con .line{
    width:133px;
    height:0;
    margin:15px 0;
    border:1px solid #1A1A1A;
}
.hot_selling .big_title_con .left .txt{
    font-size:12px;
    line-height:14px;
    text-transform:uppercase;
    color:#666;

    font-weight:bold;
}
.hot_banner_con{
    margin-top:45px;
    overflow:hidden;
    position:relative;
}
.hot_banner_con .ant-carousel .slick-slide {
    text-align: center;
    height: 610px;
    background: #fff;
    overflow: hidden;
}
.hot_banner_con .banner_list{
    overflow:hidden;
 
}
.hot_banner_con .banner_list > li{
    width:336px;
    height:610px;
    float:left;
    background:#fff;
    margin-left:5px;
    overflow:hidden;
}
.hot_banner_con .banner_list > li:first-child{
    margin-left:0;
}
.hot_banner_con .banner_list > li img{
    width:100%;
}
.hot_banner_con .banner_list > li .intro{
    height:21px;
    line-height:21px;
    font-size:18px;
    margin-top:20px;
    color:#000;
    padding:0 20px;
    overflow:hidden;
    font-weight:bold;
}
.hot_banner_con .banner_list > li .intro .txt{
    float:left;
}
.hot_banner_con .banner_list > li .intro .price{
    float:right;
}
.hot_banner_con .left_btn, .hot_banner_con .right_btn{   
    width:43px;
    height:74px;
    position:absolute;
    top:50%;
    margin-top:-80px;
    cursor:pointer;
    z-index:1;
}
.hot_banner_con .left_btn{
    left:0;
    background:url("../../assets/hot_banner_left_btn.png") no-repeat center;
}
.hot_banner_con .right_btn{
    
    right:0;

    background:url("../../assets/hot_banner_right_btn.png") no-repeat center;
}
.hot_selling .longline{
    width:1360px;
    height:0px;
    border:3px solid #515151;
    margin-top:20px;
    position:relative;
}
.hot_selling .longline span{
    display:block;
    width:35%;
    height:0;
    position:absolute;
    left:-5px;
    top:-2px;
    border:5px solid #C6A189;
    transition:width 0.5s;
}
